# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/

# testing
coverage/

# production
dist/
.next/

# misc
.DS_Store
.env
.env.prod

# logs
*.log*

.vscode/
.scannerwork/
certs/