@import "/styles/prism-drakula.css";

:root {
  --active-color: #ffa500;
  --danger-color: #d9534f;
  --danger-color-light: #fff2f2;
  --success-color: #00bf88;
  --success-color-light: #f1fdf9;
  --inactive-color: #eee;
  --inactive-color-light: #f7f7f7;
  --gray: rgba(0, 0, 0, 0.075);
  --modal-background-color: rgba(0, 0, 0, 0.15);
  --modal-border-radius: 50px;
  --overlay-color: rgba(0, 0, 0, 0.8);
  --primary-animation-duration: 0.3s;
  --primary-background-color: #fbfbfb;
  --primary-border-radius: 3px;
  --primary-black-color: #454545;
  --secondary-black-color: #878787;
  --text-contrast-color: #272727;
  --primary-white: #eeeeee;

  --primary-glow: 0px 0px 1px #fff;
  --primary-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  --danger-shadow: 0 0 3px rgba(217, 83, 89, 0.5);
  --success-shadow: 0 0 3px rgba(0, 191, 136, 0.5);
  --primary-cubic-bezier-animation: cubic-bezier(0.27, 1.01, 0.67, 1.22);

  --text-shadow-color-white: 0px 0px 1px #fff;
}

@font-face {
  font-family: "algo-icons";
  src: url("/fonts/fontello.eot?12");
  src: url("/fonts/fontello.eot?12#iefix") format("embedded-opentype"),
    url("/fonts/fontello.woff?12") format("woff"),
    url("/fonts/fontello.ttf?12") format("truetype"),
    url("/fonts/fontello.svg?12#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: var(--primary-background-color);
  color: var(--primary-black-color);
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--text-contrast-color);
}

#__next {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.icon {
  font-family: "algo-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cancel:before {
  content: "\e800";
}
.icon-fire:before {
  content: "\e801";
}
.icon-ok:before {
  content: "\e802";
}
.icon-warning-empty:before {
  content: "\e803";
}
.icon-info-circled:before {
  content: "\e804";
}
.icon-github-circled:before {
  content: "\f09b";
}
.icon-google:before {
  content: "\f1a0";
}
